body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
section {
    margin-bottom: 60px;
}
section > div {
    margin: 20px 40px;
}
.half-width{
    width: 50%;
 }
 
h1 {
    font-size: 46px;
    color:seagreen;
}
.orange-color {
    color: orange;
}
.title {
    color:seashell;
    background-color: tomato;
    display: inline;
    padding: 3px 10px;
    border-radius: 5px;
}
.short-bio {
    font-weight: 400;
    margin-right: 5px;
    margin-bottom: 30px;
}
.link-hire-me {
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:seashell;
    border-radius: 5px;
    background-image: radial-gradient(tomato, orange);
}
.top-banner img {
    float: right;
    width: 80%;
} 

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.dream-big img {
    float: left;
    width: 80%;
} 

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;

}
.experience h1 {
    color: orange;
    margin-left: 40px;
}
.experience h2 {
    color: tomato;
}
.experience h3 {
    color: seagreen;
}
.experience-body {
    display: flex;
}
.experience-body  .half-width {
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 4px 15px gray;
    border-left: 5px solid black;
}
#front-end {
    margin-right: 20px;
    border-radius: 7px solid;
    border-image: linear-gradient(seagreen, gray);
    border-image-slice: 1;
}
#back-end {
    margin-left: 10px;
    border-radius: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}

footer > p {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid black;
}
.tomato-color {
    color: tomato;
}
