body {
    font-family: 'Poppins', sans-serif;
}
section {
    margin: 0 40px;
}
.header-left {
    float: left;
    width: 65%;
    display: inline;
    
}
.header-right {
    float: left;
    width: 35%;
    display: inline;
    
}
h1 {
    font-size: 46px;
    color:seagreen;
}
.orange-color {
    color: orange;
}
.title {
    color:seashell;
    background-color: tomato;
    display: inline;
    padding: 3px 10px;
    border-radius: 5px;
}
.short-bio {
    margin-right: 35px;
    margin-bottom: 30px;
}
.hire-me {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 600;
    color:seashell;
    border-radius: 5px;
    background-color: seagreen;
}
img {
    float: right;
    width: 440px;
    height: 410px;
    border-radius: 50%;
    margin-top: 10px;
}