nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 10px 20px;
}
nav li:hover {
    background-color: gray;
}
nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul > li:hover > ul {
    display: block;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: lightcoral;
    padding: 5px 10px;
}
.dropdown li {
    padding: 5px 20px;
}